/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}
/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .navbar {
    position: relative;
  }

  .navbar ul {
    display: none;
  }

  .navbar img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .toggle-menu svg {
    width: 24px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 2;
    padding: 60px;
    font-weight: 500;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .menu-drawer ul {
    margin-top: 40px;
  }

  .menu-drawer ul a {
    padding: 14px 0;
    display: block;
    color: #4f5361;
    font-size: 3.3rem;
    font-weight: 500;
  }

  .hero-img {
    display: none;
  }

  .hero .info {
    width: 100%;
    text-align: center;
  }

  .clients .images {
    flex-direction: column;
    row-gap: 32px;
  }

  .guide-item {
    margin: 0 48px;
  }

  .featured .list {
    grid-template-columns: 1fr 1fr;
  }

  .stats .content {
    width: 100%;
  }

  .stats .row .img-block,
  .stats .row .info {
    width: 100%;
  }

  .stats .row {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .stats .row .info {
    width: 100%;
    padding: 0;
    order: 1;
  }

  .stats .sub-title {
    width: 70%;
  }

  .stats .info .desc {
    width: 100%;
  }

  .stats .img-block {
    order: 2;
    margin-top: 80px;
  }

  .stats .img-block .image {
    margin-left: 0;
    text-align: center;
  }

  .subscription .image {
    display: none;
  }

  .footer .row-top {
    gap: 95px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none;
  }
}
/* }Mobile */
@media screen and (max-width: 767px) {
  .menu-drawer {
    inset: 0 25% 0 0;
  }

  .navbar .action {
    display: none;
  }

  .hero-wrap {
    height: calc(100vh - 80px);
  }

  .clients .desc:last-child {
    display: none;
  }

  .guides .desc {
    width: 80%;
  }

  .list-guide {
    flex-direction: column;
    row-gap: 30px;
  }

  .featured .link {
    display: none;
  }

  .featured .list {
    grid-template-columns: 1fr;
  }

  .link-mobile {
    margin-top: 30px;
  }

  .subscription .info {
    margin: 0 20px;
  }

  .row-top {
    flex-direction: column;
  }

  .row-bottom {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }

  .row-bottom .logo {
    margin-right: auto;
  }
}
